<div id="header">
    <h1 class="logo">
        <a href="/"><img ng-src="assets/images/schemes/remsmed_rw/logo2.png" alt="Remsmed" title=""></a>
    </h1>

    <div class="welcome">
        <div class="wrap_welcome_exit">
            <span class="date" data-tzoffset="180">05.04.2016</span><span class="red date">12:06 +03:00</span>
            <a href="/index/logout"><span class="floatleft">Выход</span></a>
        </div>
        <a id="btnProfile" ui-sref="profile({params : 'profile'})" title="Мой профиль" class="[width:1035px;class:dialog_profile;]"><img
                ng-src="assets/images/icons/avatar_01.jpg" title="" alt=""></a>

        <div class="user">
            <span class="red">Кузнецов Иван</span>
            <span class="fix">Пациент</span>
        </div>
    </div>
</div>
