        <div class="block_left map_block w191">
            <a href="#" title="Мой профиль" class="wr_profile_avatar patient_photo">
                <img src="" alt="" title="">
            </a>

            <p class="patient_name">
                <a href="#" title="Мой профиль" class="patient_photo name">Кузнецов Иван</a>
            </p>
        </div>

        <div class="wbstats BoxDynLoading">
            <div class="wstats">
                <span class="wfont2">Врачи</span>
            </div>
        </div>

        <div class="wplot">
            <div class="datepicker_width datepicker_patient hasDatepicker">
                <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
                </div>
            </div>
        </div>